.onechat {
    background-color: var(--msg-box-clr);
    border-radius:0 13px 13px 13px;
    margin: 15px;
    display: inline-block;
    padding: 18px;
}

.type-area {
    display: flex;
    align-items: center;
}

.oneChatDiv {
    display: flex;
    align-items: center;
}

.ChatMsg {
    display: flex;
    flex-direction: column;
}

/* .onechat:hover + .trans-side {
    visibility: visible;
} */



.trans-side {
    display: flex;
    align-items: center;
    column-gap: 10px;
    visibility: hidden;
}

.trans-loading-text {
    font-style: italic;
}

.c-head {
    text-transform: capitalize;
}

