.form-page {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

.prof-pic {
    background-color: #546273;
    border-radius: 10px 15px;
    padding:0 1%;
    margin-bottom: 2%;
}

.align {
    background-color: var(--lgn-bclr);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12), 0 8px 14px rgba(0, 0, 0, 0.24);
    padding: 30px;
    border-radius: 17px 27px;
    width: 30%;
    color: var(--text-clr);
    text-align: center;
}

.form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.form-head {
    font-size: 1.9rem;
    font-weight: bolder;
}

.fix1 {
    margin-bottom: 30px;
}

.form-info {
    font-size: 1.3rem;
}

.input-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lgn-btn {
    background-color: rgb(11, 122, 11);
    padding: 1% 2%;
    border: 0;
    box-shadow: 3px 3px 4px 0 rgb(77, 77, 76);
    transition: transform 0.2s, box-shadow 0.2s, text-shadow 0.1s
}

.lgn-btn:active {
    transform: translate(3px, 3px);
    box-shadow: 0 0 0 0;
}

.lgn-btn:hover:not(:active) {
    text-shadow: 1px 1px 3px white;
}


.form-info > a {
    color: rgb(66, 71, 27)
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .align {
    width: 100%;
  }
}

