.main-page {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
}
.list-section {
    border-right: 1px solid grey;
    max-width: 300px;
    transition: max-width 0.5s;
    overflow-x: hidden;
} 

.par-msg-box:hover  .trans-side {
   visibility: visible;
}

.list-head {
    font-weight: bolder;
    font-size: 1.5rem;
    padding: 1%;
    padding-left: 3%;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.i2 {
    position: absolute;
    right: 10px;
}

.chat-page {
    /* max-width: 700px; */
    height: 90vh;
    flex-grow: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-head {
    padding: 18px;
    transform:;
}

.c-head {
  margin-left: 35px;
  padding: 1%;
  border-radius: 8px 12px;
  background-color: var(--rec-box-clr);
}

.OneBox {
    font-size: 1.5rem;
    padding: 11px;
    border-radius: 8px 9px;
    border-bottom: 1px solid grey;
    user-select: none;
}

.OneBox:last-child {
    border-bottom: 0;
}


.OneBox:hover {
    background-color: #C1D0B5;
}
.OneBox::before {
    background-color: red;
}
.chat-space {
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 13px;
    width: 80%;
}
.type-area {
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
.send-btn {
    text-align: center;
    border-radius: 13px;
    font-size: 1.3rem;
    padding: 16px;
    margin: 0;
}
.c-head {
    font-size: 1.5rem;
}
.bold {
    font-weight: bolder;
}
.mid-area {
    overflow-y: scroll;
}
.msg-rec {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 92%;
    margin: auto;
    column-gap: 20px;
}
.one-rec {
    padding: 12px;
    background-color: var(--rec-box-clr);
    border-radius: 13px;
}
.one-rec:hover {
    cursor: pointer;
    background-color: var(--rec-box-hv);
}
.rec-head {
    font-weight: bold;
    font-size: 1.2rem;
}
.add-btn {
    border-radius: 9px;
    background-color: transparent;
    border: 0;
    display: flex;
    font-weight: 600;
    align-items: center;
    column-gap: 5px;
    color: rgb(18, 116, 60);
    padding: 9px;
}
.add-btn:hover {
   cursor: pointer;
}
.list-head > span {
    display: flex;
    align-items: center;
}
.form-section {
    display: flex;    
}

.input-div {
    height: 0;
    overflow: hidden;
    transition: height 1s;
}

.extra-cust {
    font-size: 0.7rem;
}
.extra-cust::placeholder {
    color: rgb(34, 32, 32)
}

.list {
    border-radius: 10px 12px;
    background-color: var(--rec-box-hv);
    padding: 2% 4%;
    margin: 2% 4%;
}