.navbar {
    display: flex;
    width: calc(100%); /* Adjust the value according to your padding/margin size */
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--nav-clr);   
}
.navbar > div {
    display: flex;
    flex-direction: row;
}
.second-half {
    align-items: center;
    column-gap: 20px;
}
.nav-item {
    font-size: 1.7rem;
    
    /* background-color: rgb(183, 166, 105); */
    margin-right: 5px;
}
.nav-brand {
    font-size: 1.7rem;
    font-weight: bolder;
    padding: 12px;
}

.nav-item > span > a {
    color:black;
    text-decoration: none;
}

