@import url('https://fonts.googleapis.com/css2?family=Galdeano&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap');
:root {
  /* background-color: #64c4c3; */
  opacity: 1;
  --nav-clr: #bfddff6e;
  --msg-box-clr : var(--nav-clr) ;
  --rec-box-clr :var(--nav-clr) ;
  --rec-box-hv : #7f94b0;
    --text-clr: rgb(34, 34, 33);
  --btn-clr: ;
  --btn-hv: ;
  --btn-act: ;
  --lgn-bclr: var(--nav-clr);
  --font-style: 'Galdeano', sans-serif;
  --font-style-brand: 'Montserrat Alternates', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}
body > div {
  opacity: 1;
}